body{
  font-family: "Chiron GoRound TC", sans-serif;
  font-optical-sizing: auto;
}

.title{
    font-size: 26px;
    margin-top: 20px;
}
.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.date-card {
    border: 1px solid #ccc; 
    border-radius: 8px; 
    margin-bottom: 20px;
    padding:20px;
    margin-top: 20px;
}

.date-card:hover {
    border: 1px solid #ffbb80; /* 變成藍色 */
}
