body{
  font-family: "Chiron GoRound TC", sans-serif;
  font-optical-sizing: auto;
}

.title{
    font-size: 26px;
    margin-top: 20px;
}

.main-container{
    max-width: 1200px;
    width: 100%;
}
.container-setting{
    display: flex;   
    flex-direction: column;
    justify-content: flex-start;
}

.group {
    display: flex;   
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
}
.input-container {
    display: flex;
    justify-content: flex-end;
}
.container{
    display:flex;
    
}

