body{
  font-family: "Chiron GoRound TC", sans-serif;
  font-optical-sizing: auto;
  background-color: #F8FAFC;
}


.navbar{
  border-bottom: 1px solid #e2e8f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 10px 20px;
}

.navbar-brand {
  color: #005fb8 !important;
  font-weight: bold;
}
.nav-item:hover, 
.nav-item.active { 
  background-color: #E3F2FD !important;
  border-radius: 5px;
}

.nav-item:hover .nav-link, 
.nav-item.active .nav-link {
  color: #005fb8 !important;
  font-weight: bold !important;
}

.navbar.bg-body-tertiary {
  background-color: #FFFFFF !important;
}


.title{
    font-size: 26px;
    margin-top: 20px;
}
.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.date-card {
    border: 1px solid #ccc; 
    border-radius: 8px; 
    margin-bottom: 20px;
    padding:20px;
    margin-top: 20px;
}

.date-card:hover {
  background-color: #F0F9FF;
  border-color: #005fb8;     
  transform: translateY(-5px);  
}