body{
  font-family: "Chiron GoRound TC", sans-serif;
  font-optical-sizing: auto;
  background-color: #F8FAFC;
}


.navbar{
  border-bottom: 1px solid #e2e8f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 10px 20px;
}

.navbar-brand {
  color: #005fb8 !important;
  font-weight: bold;
}
.nav-item:hover, 
.nav-item.active { 
  background-color: #E3F2FD !important;
  border-radius: 5px;
}

.nav-item:hover .nav-link, 
.nav-item.active .nav-link {
  color: #005fb8 !important;
  font-weight: bold !important;
}

.navbar.bg-body-tertiary {
  background-color: #FFFFFF !important;
}

main{
    display: flex;
    justify-content: center;
    width: 100%;
}
.main-container {
    max-width: 1200px;
    width: 100%; 
}



.title{
    font-size: 26px;
    margin-top: 20px;
}

.main-container{
    max-width: 1200px;
    width: 100%;
}
.container-setting{
    display: flex;   
    flex-direction: column;
    justify-content: flex-start;
}

.group {
    display: flex;   
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
}
.input-container {
    display: flex;
    justify-content: flex-end;
}
.btn-group-edit{
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #6c757d;
    border-color: #6c757d;
    color:#fff;

}
.btn-group-save{
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    background-color:#198754;
    border-color: #198754;
    color:#fff;
}
.btn{
    display:flex;
}
.container{
    display:flex;    
}

.tablelist .staff{
    min-width:55px;
    border-right:1px solid #eee;
}

.table-container{
    width: 100%;
    overflow-x: auto; 
    border-radius: 12px;

}
.tablelist .staff {
    position: sticky;
    left: 0;           
    background-color: #f8f9fa; 
    z-index: 2;     
    font-size: 14px;     
  
}


.tablelist thead th.staff {
    z-index: 3; 
}

.tablelist {
    margin-top: 30px;        
    border: 2px solid #333;   
    border-radius: 12px;     
    border-collapse: separate; 
    border-spacing: 0;         
    overflow: hidden;         
    width: 100%;
    width: max-content;
    font-size: 12px;
}

.tablelist th {
    border-bottom: 1px solid #333;
    padding: 10px;
    background-color: #f8f9fa;
    font-size: 14px;
    width: 30px;
    height:30px;
   
}


.tablelist td {
    border-bottom: 1px solid #eee;
    padding: 8px;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
}


.tablelist tr:last-child td {
    border-bottom: none;
}
.btn{
    display: flex;
    justify-content: center;
}