body{
  font-family: "Chiron GoRound TC", sans-serif;
  font-optical-sizing: auto;
  background-color: #F8FAFC;
}

.navbar{
  border-bottom: 1px solid #e2e8f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 10px 20px;
}

.navbar-brand {
  color: #005fb8 !important;
  font-weight: bold;
}
.nav-item:hover, 
.nav-item.active { 
  background-color: #E3F2FD !important;
  border-radius: 5px;
}

.nav-item:hover .nav-link, 
.nav-item.active .nav-link {
  color: #005fb8 !important;
  font-weight: bold !important;
}

.navbar.bg-body-tertiary {
  background-color: #FFFFFF !important;
}


.title-group{
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.main{
    max-width: 800px;
    width: 100%;
    margin: 30px auto; 
    padding: 0 20px;

}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center; 
}

.container-setting{
    display: flex;   
    flex-direction: column;
    justify-content: flex-start;
}

.group-container{
    border: 1px solid #E2E8F0; 
    border-radius: 12px;
    background-color: #FFFFFF;
    padding: 24px;  
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 
                0 2px 4px -1px rgba(0, 0, 0, 0.03);

}
.group {
    display: flex;   
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
}
.input-container {
    display: flex;
    justify-content: flex-end;
}
.btn-group{
    margin-bottom: 20px;
    margin-top:20px;
    display: flex;
    justify-content: center;
    
}
.btn-group-edit{
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #6c757d;
    border-color: #6c757d;
    color:#fff;

}
.btn-group-save{
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    background-color:#198754;
    border-color: #198754;
    color:#fff;
}
.btn{
    display:flex;
}
.container{
    display:flex;
    flex-direction: column;
    
}

.choices {
    min-width: 250px;
    margin-bottom: 0;
}