body{
  font-family: "Chiron GoRound TC", sans-serif;
  font-optical-sizing: auto;
  background-color: #F8FAFC;
}

/*navbar*/
.navbar{
  border-bottom: 1px solid #e2e8f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 10px 20px;
}

.navbar-brand {
  color: #005fb8 !important;
  font-weight: bold;
}
.nav-item:hover, 
.nav-item.active { 
  background-color: #E3F2FD !important;
  border-radius: 5px;
}

.nav-item:hover .nav-link, 
.nav-item.active .nav-link {
  color: #005fb8 !important;
  font-weight: bold !important;
}

.navbar.bg-body-tertiary {
  background-color: #FFFFFF !important;
}


main{
    display: flex; 
    justify-content: center;
}
.main-container{
    max-width: 1200px;
    width: 100%;
}
.title{
    font-size: 26px;
    margin-top: 20px;
}

.main-input {
    display: none;
    position: fixed;      
    top: 50%;             
    left: 50%;            
    transform: translate(-50%, -50%); 
    
    width: 600px;
    background: white;
    padding: 30px;        
    border-radius: 8px;   
    box-shadow: 0 10px 30px rgba(0,0,0,0.5); 
    
    flex-direction: column;
    gap: 15px; 
    z-index: 999;         
}
#addStaff-btn{
    margin-left: auto;
    margin-bottom: 10px;
    
}
.title-container {
    display: flex;              
    flex-direction: row;         
    justify-content: space-between; 
    align-items: center;          
    width: 100%;                  
    margin-top: 20px;             
}
.main-input-title{
    font-size: 20px;
    font-weight: bold;
}

.main-input-group{
    display:flex;
}
.main-input-subtitle{
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.insert-btn{
    margin-top: 20px;
    ;
}
.edit-input {
    display: none;
    position: fixed;      
    top: 50%;             
    left: 50%;            
    transform: translate(-50%, -50%); 
    
    width: 600px;
    background: white;
    padding: 30px;        
    border-radius: 8px;   
    box-shadow: 0 10px 30px rgba(0,0,0,0.5); 
    
    flex-direction: column;
    gap: 15px; 
    z-index: 999;         
}

input{
    border-radius: 10px;
}

/*table*/
.table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0;        
    border: 1px solid #dee2e6; 
    border-radius: 12px;       
    overflow: hidden;          
    margin-top: 20px;
}


.table th, 
.table td {
    border-bottom: 1px solid #E2E8F0;
    border-right: 1px solid #E2E8F0;
    padding: 12px 15px;
    text-align: center;
    vertical-align: middle;
}


.table th:last-child, 
.table td:last-child {
    border-right: none;
}
.table tbody tr:last-child td {
    border-bottom: none;
}
.table th {
    background-color: #E2E8F0; 
}
